# Git 관리 디렉토리
.git
.gitignore

# Gradle 빌드 캐시 및 결과물
.gradle
build
out

# IDE 설정 파일 (IntelliJ, VSCode 등)
.idea
.vscode
*.iml

# OS 시스템 파일
.DS_Store

# 로컬 환경 설정 (필요시 제외, 시크릿 정보 보호)
application-local.yml